h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }
  .editForm{
    width: 70%;
    margin: 0 auto;
    border: #000000 2px solid;
    padding: 20px;
    border-radius: 15px;
  }
  
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }

  .buttons{
    display: flex;
    margin: 0 auto;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .uploaded-image {

    border: #000000 2px solid;
    height: 150px;
    width: 150px;
    margin: 5% auto;
    border-radius: 50%;
}
.imageremove{
  margin: 0 70%;
  float: right;
}
  