<app-header></app-header>
<h2 class="title">Users List</h2>
<div class="search">
    <button type="button" mat-icon-button color="accent" routerLink="/auth/register"><mat-icon>add</mat-icon></button>   
    <mat-form-field appearance="outline">
        <mat-label>
            Search Data
        </mat-label>
        <input matInput type="text" (input)="searchuser(search.value)" key #search placeholder="Search">
    </mat-form-field>
</div>
<table>
    <tr>
        <th>Image</th>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit/Delete</th>
    </tr>
    <tr *ngFor="let user of users">
        <td><img *ngIf="user.image!=''" [src]="'data:image/png;base64,' + user.image" class="uploaded-image"></td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>{{user.status}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td><button mat-icon-button color="primary" (click)="edituser(user)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="deleteuser(user)"><mat-icon>delete</mat-icon></button>
        </td>
    </tr>
</table>