<h2>Edit User</h2>
<form [formGroup]="editForm" class="editForm">
  <div class="col">
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select #status formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.controls['status'].hasError('required')">
          Status is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>username:
        </mat-label>
        <input type="text" #username matInput formControlName="username">
        <mat-error *ngIf="editForm.controls['username'].hasError('required')">
          username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="userdetailsedit==true">
      <div class="row">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>role:</mat-label>
          <input type="text" #role matInput formControlName="role">
          <mat-error *ngIf="editForm.controls['role'].hasError('required')">
            role is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Firstname:</mat-label>
            <input type="text" #firstName matInput formControlName="firstName">
            <mat-error *ngIf="editForm.controls['firstName'].hasError('required')">
              Firstname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Lastname:</mat-label>
            <input type="text" #lastName matInput formControlName="lastName">
            <mat-error *ngIf="editForm.controls['lastName'].hasError('required')">
              Lastname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password:</mat-label>
          <input type="password" #password matInput formControlName="password">
          <mat-error *ngIf="editForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class='buttons'>
    <button type="button" mat-icon-button color="primary" (click)="edituserdetails()"><mat-icon>edit</mat-icon></button>
    <button type="submit" mat-icon-button color="warn" (click)="onSubmit(editForm.value)"><mat-icon>save</mat-icon></button>
  </div>
</form>